//- Все примеси в этом файле должны начинаться c имени блока (blocknam2e)

mixin blocknam2e(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +blocknam2e('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' blocknam2e--' + modsList[i].trim();
      }
    }

  .blocknam2e(class=allMods)&attributes(attributes)
    .blocknam2e__inner
      block
